body{
    background: linear-gradient(#536277, #35475f);
    color: #fed461;
}
.con {
    position: relative;
    text-align: center;
}
.img {
    padding-top: 10px;;
    max-width:100%;
    height: fit-content;
    height: 30%;
    width: 30%;
    
}
.heading {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fed461;
    
}
.topnav ul {
    list-style: none;
    background: gray;
    padding: 0;
    margin: 0;
    text-align: center;
}
.topnav li {
    display: inline-block;
}
.topnav a {
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-align: center;
}
.topnav a:hover {
    background-color: lightgray;
    color: black;
}
.ser {
    font-size: xx-large;
}
h2 {
    text-align: center;
    text-transform: capitalize;
}
.left {
    display: inline-block;
    
}
.right {
    display: inline-block;
   
}
.con {
    width:600px;
   margin:0 auto;
}
.email {
    text-align: center;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}



.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}
li {
    list-style: none;
}

