body{
    background: linear-gradient(#536277, #35475f);
    color: #fed461;
}
.con {
    position: relative;
    text-align: center;
}
.img {
    padding-top: 10px;;
    max-width:100%;
    height: fit-content;
}
.heading {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fed461;
    
}
.topnav ul {
    list-style: none;
    background: gray;
    padding: 0;
    margin: 0;
    text-align: center;
}
.topnav li {
    display: inline-block;
}
.topnav a {
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-align: center;
}
.topnav a:hover {
    background-color: lightgray;
    color: black;
}
.ser {
    font-size: xx-large;
}
h3 {
    text-align: center;
    text-transform: capitalize;
}
.left {
    float:left;
   width:300px;
}
.right {
    float:right;
   width:300px;
}
.con {
    width:600px;
   margin:0 auto;
}
.email {
    text-align: center;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.data:nth-child(2) {
    transition-delay: 200ms;
}
.data:nth-child(3) {
    transition-delay: 300ms;
}
.data:nth-child(4) {
    transition-delay: 400ms;
}
.data:nth-child(5) {
    transition-delay: 500ms;
}
.data:nth-child(6) {
    transition-delay: 600ms;
}
.data:nth-child(7) {
    transition-delay: 700ms;
}
.data:nth-child(8) {
    transition-delay: 800ms;
}
.data:nth-child(9) {
    transition-delay: 900ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}